#{extends 'main.html' /}
<div class="span">
<h3>&{'extratips'}</h3>
<table class="table">
	<thead>
		<tr>
			<th class="hidden-phone"></th>
			<th></th>
			#{list items:extras, as:'extra'}
				<th>&{extra.questionShort}</th>
			#{/list}
		</tr>
	</thead>
	<tbody>
		#{list items:tips, as:'extraTips'}
		<tr #{if extraTips.entrySet().key.nickname == [connectedUser.nickname]} class="connecteduser" #{/if}>
			#{list items:extraTips.entrySet(), as:'user'}
				#{if user.key.picture == null}
					<td class="hidden-phone" style="width: 60px;"><a href="@{users.show()}/${user.key.nickname}"><img src="@{'/public/img/user_placeholder.gif'}" /></a></td>
				#{/if}
				#{else}
					<td class="hidden-phone" style="width: 60px;"><a href="@{users.show()}/${user.key.nickname}"><img src="${user.key.picture}" /></a></td>
				#{/else}
					<td><br /><b><a href="@{users.show()}/${user.key.nickname}">${user.key.nickname}</a></b><br /><small>&{'place'} ${user.key.place}, ${user.key.points} &{'points'}</small></td>
				#{list items:user.value, as:'extraTip'}
					<td>&{extraTip.getExtraTipAnswer()}${extraTip?.getExtraTipPoints()}</td>
				#{/list}
			#{/list}
		</tr>
		#{/list}
	</tbody>
</table>