#{extends 'main.html' /}
<div class="row">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th colspan="4"><h2>&{playday.name}</h2></th>
		            <th colspan="8" style="text-align: right; vertical-align:bottom;">#{include '/Tags/playdayPagination.html' /}</th>
				</tr>	
				<tr>
					<th class="hidden-phone"></th>
					<th></th>
					#{list items:playday.games, as:'game'}
					<th>
						<div align="center">
							#{if game.homeTeam?.name != null && game.awayTeam?.name != null}
								<img alt="&{game.homeTeam?.name}" title="&{game.homeTeam?.name}" rel="tooltip" src="@{'/public/img/flags'}/${game.homeTeam?.flag}"> <br/> ${game.getResult()} <br/> <img alt="&{game.awayTeam?.name}" rel="tooltip" title="&{game.awayTeam?.name}" src="@{'/public/img/flags'}/${game.awayTeam?.flag}">
							#{/if}
							#{else}
								${game.homeReferenceName()} - ${game.awayReferenceName()}
							#{/else}
						</div>
					</th>
					#{/list}
					<th></th>
				</tr>
				<tr class="hidden-phone">
					<th>&{'tendence'}</th>
					<th></th>
					#{list items:playday.games, as:'game'}
					<th>
						<div align="center">
							${game.getTrend()}
						</div>
					</th>
					#{/list}
					<th></th>
				</tr>		
			</thead>
			<tbody>
				#{list items:tips, as:'userTips'}
				<tr #{if userTips.entrySet().key.username == [connectedUser.username]} class="connecteduser" #{/if}>
					#{list items:userTips.entrySet(), as:'user'}
						#{if user.key.picture == null}
							<td class="hidden-phone" style="width: 60px;"><a href="@{users.show()}/${user.key.username}"><img src="@{'/public/img/user_placeholder.gif'}" width="54" height="54" /></a></td>
						#{/if}
						#{else}
							<td class="hidden-phone" style="width: 60px;"><a href="@{users.show()}/${user.key.username}"><img src="${user.key.picture}" /></a></td>
						#{/else}
							<td style="vertical-align: top;"><b><a href="@{users.show()}/${user.key.username}">${user.key.username}</a></b><br /><small>&{'place'} ${user.key.place}, ${user.key.points} &{'points'}</small></td>
						%{ points = 0 }%
						#{list items:user.value, as:'gameTip'}
							<td style="vertical-align: middle;"><div align="center">${gameTip.getGameTipAndPoints()}</div></td>
							%{ points = points + gameTip.points }%
						#{/list}
						<td style="vertical-align: middle;"><div align="center">%{ out.print(points); }%</div></td>
					#{/list}
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>
</div>