#{extends 'main.html' /}
<div class="span">
<table id="lazyTable" class="table">
	<thead>
		<tr>
			<th colspan="4"><h2>&{playday.name}</h2></th>
            <th colspan="8" style="text-align: right; vertical-align:bottom;">#{include '/Tags/playdayPagination.html' /}</th>
		</tr>	
		<tr>
			<th class="hidden-phone"></th>
			<th></th>
			#{list items:playday.games, as:'game'}
			<th>
				<div align="center">
					#{if game.homeTeam?.name != null && game.awayTeam?.name != null}
						<img alt="&{game.homeTeam?.name}" title="&{game.homeTeam?.name}" rel="tooltip" src="@{'/public/img/flags'}/${game.homeTeam?.flag}"> <br/> ${game.getResult()} <br/> <img alt="&{game.awayTeam?.name}" rel="tooltip" title="&{game.awayTeam?.name}" src="@{'/public/img/flags'}/${game.awayTeam?.flag}">
					#{/if}
					#{else}
						${game.homeReferenceName()} - ${game.awayReferenceName()}
					#{/else}
				</div>
			</th>
			#{/list}
			<th></th>
		</tr>
		<tr class="hidden-phone">
			<th>&{'tendence'}</th>
			<th></th>
			#{list items:playday.games, as:'game'}
			<th>
				<div align="center">
					${game.getTrend()}
				</div>
			</th>
			#{/list}
			<th></th>
		</tr>		
	</thead>
	<tbody>
		#{include '/Overview/_users.html' /}
	</tbody>
</table>
<div id="ajaxusers">${usersCount}</div>
<div id="ajaxplayday">${pagination.number}</div>
<div id="ajaxloader"><img src="@{'/public/img/ajax-loader.gif'}" /></div>
</div>