*.class

# Package Files #
*.war
*.ear

.classpath

.project

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.core.prefs

eclipse/.settings/org.eclipse.core.resources.prefs

eclipse/.settings/org.eclipse.jdt.core.prefs

eclipse/Connect JPDA to rudeltippen.launch

eclipse/Test rudeltippen.launch

eclipse/rudeltippen.launch

tmp/

modules/

lib/

logs/

test-result/unit.UnitTests.class.passed.html

test-result/TEST-functional.ApplicationTests.xml

test-result/TEST-unit.UnitTests.xml

test-result/application.log

test-result/functional.ApplicationTests.class.passed.html

test-result/result.passed

play/.DS_Store

play/framework/src/play/.DS_Store

server.pid

.DS_Store

eclipse/classes/selenium/0.Registration.test.html

eclipse/classes/selenium/1.Login.test.html

eclipse/classes/selenium/2.Application.test.html

eclipse/classes/selenium/3.GameTip.test.html

eclipse/classes/selenium/4.Results.test.html

eclipse/classes/selenium/5.Playoffs.test.html

eclipse/classes/selenium/6.ExtraTips.test.html

eclipse/classes/selenium/7.Profile.test.html

eclipse/classes/selenium/8.Logout.test.html
