*.class
*.war
*.ear
.classpath
.project
.settings/
eclipse/
tmp/
modules/
lib/
logs/
test-result/
play/
precompiled/
server.pid
.DS_Store
/conf/application.conf
/conf/modulesOrder.conf
/rudeltippen.zip
/public/javascripts/combined.min.js
/public/stylesheets/combined.min.css
/public/javascripts/combined.js
/public/stylesheets/combined.css
/*.zip
