*.class

# Package Files #
*.jar
*.war
*.ear

.classpath

.project

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.jdt.core.prefs

eclipse/.settings/org.eclipse.core.resources.prefs

eclipse/.settings/org.eclipse.jdt.core.prefs

eclipse/Connect JPDA to rudeltippen.launch

eclipse/Test rudeltippen.launch

eclipse/rudeltippen.launch

tmp/


logs/
test-result/unit.UnitTests.class.passed.html

test-result/TEST-functional.ApplicationTests.xml

test-result/TEST-unit.UnitTests.xml

test-result/application.log

test-result/functional.ApplicationTests.class.passed.html

test-result/result.passed

play/.DS_Store

play/framework/src/play/.DS_Store

server.pid
