#{extends 'main.html' /}
#{form @Auth.authenticate(), class:'form-horizontal well'}
	<fieldset>
		<legend>&{'pleaselogin'}</legend>
		<div class="control-group">
			<div class="control-group #{ifError 'username'} error #{/ifError}">
				<label for="input01" class="control-label">&{'email'} &{'or'} &{'username'}</label>
				<div class="controls">
					<input type="text" id="username" name="username" value="${flash.username}" class="input-xlarge">
					#{ifError 'username'}
						<span class="help-inline">#{error 'username' /}</span>
					#{/ifError}
				</div>
			</div>
			<div class="control-group #{ifError 'userpass'} error #{/ifError}">
				<label for="input01" class="control-label">&{'password'}</label>
				<div class="controls">
					<input type="password" id="userpass" name="userpass" class="input-xlarge">
					#{ifError 'userpass'}
						<span class="help-inline">#{error 'userpass' /}</span>
					#{/ifError}
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<label class="checkbox"><input type="checkbox" value="1" name="remember" id="optionsCheckbox"> &{'stayloggedin'} </label>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary" data-loading-text="&{'login'}..." id="fat-btn" type="submit" data-toggle="button">&{'login'}</button>
			<br />
			#{if isEnableRegistration}
			<br /><a href="@{auth.register()}">&{'areyounew'}</a>
			#{/if}
			<br /><a href="@{auth.forgotten()}">&{'forgotten'}</a>
		</div>
	</fieldset>
#{/form}

${foo}

#{list items:foolist, as:'s'}
    ${s}
#{/list}