#{extends 'auth.html' /}
<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		#{form @Auth.authenticate(), role:'form'}
			<fieldset>
				<h2>Rudeltippen - Melde Dich an</h2>
				<hr class="colorgraph">
				<div class="form-group">
                    <input type="email" name="username" id="username" class="form-control input-lg" placeholder="Benutzername / E-Mail-Adresse">
				</div>
				<div class="form-group">
                    <input type="password" name="userpass" id="userpass" class="form-control input-lg" placeholder="Passwort">
				</div>
				<span class="button-checkbox">
					<button type="button" class="btn" data-color="info">Angemeldet bleiben</button>
                    <input type="checkbox" name="remember" value="1" id="remember_me" class="hidden">
					<a href="@{auth.forgotten()}" class="btn btn-link pull-right">Passwort vergessen?</a>
				</span>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="@{auth.register()}" class="btn btn-lg btn-primary btn-block">Registriern</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-lg btn-success btn-block" value="Anmelden">
					</div>
				</div>
			</fieldset>
		#{/form}
	</div>
</div>