#{extends 'main.html' /}
#{form @Auth.renew(), class:'form-horizontal well'}
    <fieldset>
        <legend>&{'newpassword'}</legend>
	    <div class="control-group #{ifError 'userpass'} error #{/ifError}">
	        <label for="input01" class="control-label">&{'password'}</label>
	        <div class="controls">
	            <input type="password" id="userpass" name="userpass" class="input-xlarge">
	            #{ifError 'userpass'}
	                <span class="help-inline">#{error 'userpass' /}</span>
	            #{/ifError}
	        </div>
	    </div>
	    <div class="control-group #{ifError 'userpassConfirmation'} error #{/ifError}">
	        <label for="input01" class="control-label">&{'passwordconfirmation'}</label>
	        <div class="controls">
	            <input type="password" id="userpassConfirmation" name="userpassConfirmation" class="input-xlarge">
	        </div>
	        <div class="controls">
	            #{ifError 'userpassConfirmation'}
	                <span class="help-inline">#{error 'userpassConfirmation' /}</span>
	            #{/ifError}
	        </div>
	    </div>    
        <div class="form-actions">
            <button class="btn btn-primary" data-loading-text="&{'send'}..." id="fat-btn" type="submit" data-toggle="button">&{'send'}</button>
        </div>
    </fieldset>
    <input type="hidden" name="token" value="${token}" />
#{/form}