#{extends 'main.html' /}
#{form @Auth.create(), class:'form-horizontal well'}
<fieldset>
	<legend>&{'login.legend'}</legend>
	<div class="control-group #{ifError 'username'} error #{/ifError}">
		<label for="input01" class="control-label">&{'username'}</label>
		<div class="controls">
			<input type="text" id="username" value="${flash.username}" name="username" class="input-xlarge">
			#{ifError 'username'}
				<span class="help-inline">#{error 'username' /}</span>
			#{/ifError}
		</div>
	</div>
	<div class="control-group #{ifError 'email'} error #{/ifError}">
		<label for="input01" class="control-label">&{'email'}</label>
		<div class="controls">
			<input type="text" id="email" value="${flash.email}" name="email" class="input-xlarge">
			#{ifError 'email'}
				<span class="help-inline">#{error 'email' /}</span>
			#{/ifError}
		</div>
	</div>
	<div class="control-group #{ifError 'emailConfirmation'} error #{/ifError}">
		<label for="input01" class="control-label">&{'emailconfirmation'}</label>
		<div class="controls">
			<input type="text" id="emailConfirmation" value="${flash.emailConfirmation}" name="emailConfirmation" class="input-xlarge">
			#{ifError 'emailConfirmation'}
				<span class="help-inline">#{error 'emailConfirmation' /}</span>
			#{/ifError}
		</div>
	</div>
	<div class="control-group #{ifError 'userpass'} error #{/ifError}">
		<label for="input01" class="control-label">&{'password'}</label>
		<div class="controls">
			<input type="password" id="userpass" name="userpass" class="input-xlarge">
			#{ifError 'userpass'}
				<span class="help-inline">#{error 'userpass' /}</span>
			#{/ifError}
		</div>
	</div>
	<div class="control-group #{ifError 'userpassConfirmation'} error #{/ifError}">
		<label for="input01" class="control-label">&{'passwordconfirmation'}</label>
		<div class="controls">
			<input type="password" id="userpassConfirmation" name="userpassConfirmation" class="input-xlarge">
		</div>
		<div class="controls">
			#{ifError 'userpassConfirmation'}
				<span class="help-inline">#{error 'userpassConfirmation' /}</span>
			#{/ifError}
		</div>
	</div>
	<div class="form-actions">
		<button class="btn btn-primary" data-loading-text="&{'save'}..." id="fat-btn" type="submit" data-toggle="button">&{'save'}</button>
	</div>
</fieldset>
#{/form}