<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rudeltippen</title>
    <meta name="description" content="Rudeltippen">
    <meta name="author" content="Sven Kubiak">
    <link href="@{'/public/stylesheets/bootstrap.css'}" rel="stylesheet">
    <link href="@{'/public/stylesheets/additional.css'}" rel="stylesheet">
    <link href="@{'/public/stylesheets/bootstrap-responsive.css'}" rel="stylesheet">
  </head>
<body>
<div class="container-fluid">
	#{ifErrors}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="alert alert-error">
				<h4 class="alert-heading">&{'error'}</h4>
				#{if flash.errormessage != null}
		    		<p>${flash.errormessage.raw()}</p>
				#{/if}
				#{else}
		    		<p>&{'erroroccured'}</p>
				#{/else}
			</div>
		</div>
	</div>
	#{/ifErrors}
	#{if flash.warningmessage != null}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="alert alert-info">
				<h4 class="alert-heading">&{'warning'}</h4>
				<p>${flash.warningmessage.raw()}</p>
			</div>
		</div>
	</div>
	#{/if}
	#{if flash.infomessage != null}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="alert alert-success">
				<h4 class="alert-heading">&{'info'}</h4>
				<p>${flash.infomessage.raw()}</p>
			</div>
		</div>
	</div>
	#{/if}
	<div class="row-fluid">
		#{form @Admin.saveuser(), class:'form-horizontal well'}
			#{include '/Auth/_form.html' /}	
			<input type="hidden" name="userid" value="${user.id}" />
		#{/form}
	</div>
</div>
    <script src="@{'/public/javascripts/jquery.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.js'}"></script>
    <script src="@{'/public/javascripts/ie.js'}"></script>
    <script src="@{'/public/javascripts/additional.js'}"></script>
</body>
</html>