#{extends 'main.html' /}
<div class="row">
	<div class="col-md-12">
		<legend>Rudelmail</legend>
	</div>
</div>
<div class="row">
	<div class="col-md-12">	
		#{form @Admin.send(), role:'form'}
		    <fieldset>
		        <h5>&{'app.rudelmail.send'}</h5>
	            <div class="form-group #{ifError 'subject'} has-error #{/ifError}">
	            	<input type="text" name="subject" id="subject" class="form-control input-lg" placeholder="Betreff">
	                    #{ifError 'subject'}
	                        <p class="help-block">#{error 'subject' /}</p>
	                    #{/ifError}
	            </div>
	            <div class="form-group #{ifError 'message'} has-error #{/ifError}">
	                <div class="controls">
	                    <textarea rows="8" name="message" value="${flash.message}" class="form-control input-lg" placeholder="&{'app.message'}"></textarea>
	                </div>
	            </div>
				<input type="submit" data-loading-text="&{'send'}..." class="btn btn-success" value="&{'send'}">
		    </fieldset>
		#{/form}
	</div>
</div>