body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

#ajaxloader {
	padding-top: 30px;
	padding-left: 50%;
}

.input-xmini{
	width:40px;
}

.flag {
	padding-right: 8px;
}

.connecteduser {
	background-color: #EDEBE1;
}

.icon-red{background-image:url("../img/glyphicons-halflings-red.png");}
.icon-green{background-image:url("../img/glyphicons-halflings-green.png");}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('/public/images/datatables/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/public/images/datatables/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/public/images/datatables/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('/public/images/datatables/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/public/images/datatables/sort_desc_disabled.png') no-repeat center right; }