body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

#ajaxloader {
	padding-top: 30px;
	padding-left: 50%;
}

.input-xmini{
	width:40px;
}

.flag {
	padding-right: 8px;
}

.connecteduser {
	background-color: #EDEBE1;
}

.icon-red{background-image:url("../img/glyphicons-halflings-red.png");}
.icon-green{background-image:url("../img/glyphicons-halflings-green.png");}