body {
	margin-top:75px;
	font-size: 16px;
}

.flag {
    padding-right: 8px;
}

.connecteduser {
    background-color: #EDEBE1;
}

.form-actions {
    background-color: inherit;;
}

.icon-red{background-image:url("../img/glyphicons-halflings-red.png");}
.icon-green{background-image:url("../img/glyphicons-halflings-green.png");}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled { cursor: pointer; *cursor: hand; }
table.table thead .sorting { background: url('/public/img/datatables/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/public/img/datatables/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/public/img/datatables/sort_desc.png') no-repeat center right; }
table.table thead .sorting_asc_disabled { background: url('/public/img/datatables/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/public/img/datatables/sort_desc_disabled.png') no-repeat center right; }

.pagination {
    margin: 0px 0;
}

[class^="icon-"], [class*=" icon-"] {
	margin-top: 4px;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}