#{extends 'main.html' /}
<table class="table">
		<thead>
			<tr>
				<th>Platz</th>
				<th>Tipper</th>
				<th>Nickname</th>
				<th>Punkte</th>
				<th>Bonuspunkte</th>
				<th><div align="center">Gesamtpunkte</div></th>
			</tr>
		</thead>
		<tbody>
			#{list items:users, as:'user'}
				<tr class="#{if user == connectedUser} currentuser #{/if}">
					#{if pagination.currentPage <= 1}
						<td style="vertical-align: top;">${user_index}</td>
					#{/if}
					#{else}
						<td style="vertical-align: top;">${user_index + ((pagination.currentPage -1 ) * pagination.fetch)}</td>
					#{/else}
					#{if user.picture != null}
						<td><a href="@{users.show()}/${users.nickname}"><img src="${user.picture}" /></a></td>
						<td align="left" style="vertical-align: top;"><b><a href="@{users.show()}/${user.nickname}">${user.nickname}</a></b></td>
					#{/if}
					#{else}
						<td><div style="float: left;"><a href="@{users.show()}/${users.nickname}"><img src="/public/images/user_placeholder.gif" width="54" height="54" /></a></div></td>
						<td align="left" style="vertical-align: top;"><b><a href="@{users.show()}/${user.nickname}">${user.nickname}</a></b></td>
					#{/else}
					<td style="vertical-align: top;">${user.tipPoints}</td>
					<td style="vertical-align: top;">${user.extraPoints}</td>
					<td style="vertical-align: top;"><div align="center"><b>${user.points}</b></div></td>
				</tr>
			 #{/list}
	</tbody>
</table>
#{include '/tags/pagination.html' /}