#{extends 'main.html' /}
<table class="table">
		<thead>
			<tr>
				<th>&{'place'}</th>
				<th class="hidden-phone">&{'tipper'}</th>
				<th>&{'nickname'}</th>
				<th>&{'points'}</th>
				<th>&{'extrapoints'}</th>
				<th>&{'totalpoints'}</th>
			</tr>
		</thead>
		<tbody>
			#{list items:users, as:'user'}
				<tr>
					#{if pagination.currentPage <= 1}
						<td>${user_index}</td>
					#{/if}
					#{else}
						<td>${user_index + ((pagination.currentPage -1 ) * pagination.fetch)}</td>
					#{/else}
					#{if user.picture != null}
						<td><a href="@{users.show()}/${user.nickname}"><img src="${user.picture}" /></a></td>
					#{/if}
					#{else}
						<td class="hidden-phone"><a href="@{users.show()}/${user.nickname}"><img src="/public/images/user_placeholder.gif" width="54" height="54" /></a></td>
					#{/else}
					<td><b><a href="@{users.show()}/${user.nickname}">${user.nickname}</a></b></td>
					<td>${user.tipPoints}</td>
					<td>${user.extraPoints}</td>
					<td><b>${user.points}</b></td>
				</tr>
			 #{/list}
	</tbody>
</table>
#{include '/Tags/pagination.html' /}
