<table class="table table-striped">
#{list items:playdays, as:'playday'}
	<thead>
		<tr>
			<th colspan="6"><h2>&{playday.name}</h2></th>
		</tr>
		<tr>
			<th class="hidden-phone">&{'game'}</th>
			<th class="hidden-phone">&{'date'} - &{'time'}</th>
			<th class="hidden-phone">&{'location'}</th>
			<th>&{'hometeam'}</th>
			<th>&{'awayteam'}</th>
			<th>&{'result'}</th>
		</tr>
	</thead>
		<tbody>
			#{list items:playday.games, as:'game'}
				<tr>
					<td class="hidden-phone">${game.number}</td>
					<td class="hidden-phone">${game.kickoff.formatted()}</td>
					<td class="hidden-phone">${game.stadium?.linked().raw()}</td>
					#{if game.homeTeam != null}
						#{if game.homeTeam.flag != null}
							<td><img src="/public/images/flags/${game.homeTeam?.flag}" alt="${game.homeTeam?.name}" />&nbsp;&nbsp;&{game.homeTeam?.name}</td>
						#{/if}
						#{else}
							<td>&{game.homeTeam?.name}</td>
						#{/else}
					#{/if}
					#{else}
						<td>${game.homeReferenceName()}</td>
					#{/else}
					#{if game.awayTeam != null}
						#{if game.awayTeam.flag != null}
							<td><img src="/public/images/flags/${game.awayTeam?.flag}" alt="${game.awayTeam?.name}" />&nbsp;&nbsp;&{game.awayTeam?.name}</td>
						#{/if}
						#{else}
							<td>&{game.awayTeam?.name}</td>
						#{/else}
					#{/if}
					#{else}
						<td>${game.awayReferenceName()}</td>
					#{/else}
					#{if !game.ended}
						<td>- : -</td>
					#{/if}
					#{else}
						#{if game.overtime}
							<td>${game.homeScoreOT} : ${game.awayScoreOT} (&{game.overtimeType})</td>
						#{/if}
						#{else}
							<td>${game.homeScore} : ${game.awayScore}</td>
						#{/else}
					#{/else}
				</tr>
		#{/list}
	</tbody>
#{/list}
</table>