<table class="table table-striped">
#{list items:playdays, as:'playday'}
	<thead>
		<tr>
			<th colspan="6"><h2>&{playday.name}</h2></th>
		</tr>
		<tr>
			<th class="hidden-phone">&{'game'}</th>
			<th class="hidden-phone">&{'date'} - &{'time'}</th>
			<th>&{'hometeam'}</th>
			<th>&{'awayteam'}</th>
			<th>&{'result'}</th>
		</tr>
	</thead>
	<tbody>
		#{list items:playday.games, as:'game'}
			<tr>
				<td class="hidden-phone">${game.number}</td>
				<td class="hidden-phone">${game.kickoff.formatted()}</td>
				#{if game.homeTeam != null}
					#{if game.homeTeam.flag != null}
						<td><img class="flag" src="@{'/public/images/flags'}/${game.homeTeam?.flag}" alt="${game.homeTeam?.name}" />&{game.homeTeam?.name}</td>
					#{/if}
					#{else}
						<td>&{game.homeTeam?.name}</td>
					#{/else}
				#{/if}
				#{else}
					<td>${game.homeReferenceName()}</td>
				#{/else}
				#{if game.awayTeam != null}
					#{if game.awayTeam.flag != null}
						<td><img class="flag" src="@{'/public/images/flags'}/${game.awayTeam?.flag}" alt="${game.awayTeam?.name}" />&{game.awayTeam?.name}</td>
					#{/if}
					#{else}
						<td>&{game.awayTeam?.name}</td>
					#{/else}
				#{/if}
				#{else}
					<td>${game.awayReferenceName()}</td>
				#{/else}
				<td>${game.getScore()}</td>
			</tr>
		#{/list}
	</tbody>
#{/list}
</table>