#{list items:brackets, as:'bracket'}
<h2>${bracket.name}</h2>
<table class="table">
	<thead>
		<tr>
			<th class="hidden-phone">#</th>
			<th>Mannschaft</th>
			<th>Spiele</th>
			<th>S</th>
			<th>U</th>
			<th>N</th>
			<th>Tore</th>
			<th>Diff</th>
			<th>Punkte</th>
		</tr>
	</thead>
	<tbody>
		#{list items:bracket.teams, as:'team'}
			<tr>
				<td class="hidden-phone">${team_index}</td>
				#{if team.flag != null}
					<td><img src="/public/images/flags/${team.flag}"/>&nbsp;&nbsp;&nbsp;&nbsp;${team.name}</td>
				#{/if}
				#{else}
					<td>${team.name}</td>
				#{/else}
				<td>${team.gamesPlayed}</td>
				<td>${team.gamesWon}</td>
				<td>${team.gamesDraw}</td>
				<td>${team.gamesLost}</td>
				<td>${team.goalsFor} : ${team.goalsAgainst}</td>
				<td>${team.goalsDiff}</td>
				<td>${team.points}</td>
			</tr>
		#{/list}
	</tbody>
</table>
#{/list}