#{extends 'main.html' /}
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			#{if playoffs}
				<li #{if request.action == "Tournament.index" } class="active" #{/if}><a href="javascript:load(0, '@{tournament.brackets()}');"><i class="icon-th-list"></i>  &{'groups'}</a></li>
				<li><a href="javascript:load(2, '@{tournament.preliminary()}');">&{'firstround'}</a></li>
				<li><a href="javascript:load(3, '@{tournament.playoffs()}');">&{'playoffs'}</a></li>
			#{/if}
			#{else}
				<li id="nav-first" #{if request.action == "Tournament.index" } class="active" #{/if}><a href="javascript:load(0, '@{tournament.brackets()}');"><i class="icon-th-list"></i>  &{'table'}</a></li>
				<li class="nav-header">&{'playdays'}</li>
				#{list items:playdays, as:'playday'}
					<li id="nav-${playday.number}"><a href="javascript:load(${playday.number}, '@{tournament.playday()}/${playday.number}');">&{playday.name}</a></li>
				#{/list}
			#{/else}
		</ul>
	</div>
</div>
<div class="span9">
	#{include '/Tournament/brackets.html' /}
</div>