#{extends 'main.html' /}
<div class="span">
<table class="table table-striped">
	<thead>
		<tr>
			<th colspan="3"><h2>&{playday.name}</h2></th>
			<th style="text-align: right; vertical-align:bottom;">
			<div class="pagination">
				<ul>
					<li><a href="#">←</a></li>
					<li class="active"><a href="#">10</a></li>
					<li class="disabled"><a href="#">...</a></li>
					<li><a href="#">20</a></li>
					<li><a href="#">→</a></li>
				</ul>
			</div>
			</th>
		</tr>
		<tr>
			<th class="hidden-phone">&{'date'} - &{'time'}</th>
			<th>&{'hometeam'}</th>
			<th>&{'awayteam'}</th>
			<th>&{'result'}</th>
		</tr>
	</thead>
	<tbody>
	#{list items:playday.games, as:'game'}
		<tr>
			<td class="hidden-phone">${game.kickoff.formatted()}</td>
			#{if game.homeTeam != null}
				#{if game.homeTeam.flag != null}
					<td><img class="flag" src="@{'/public/img/flags'}/${game.homeTeam?.flag}" alt="${game.homeTeam?.name}" />&{game.homeTeam?.name}</td>
				#{/if}
				#{else}
					<td>&{game.homeTeam?.name}</td>
				#{/else}
			#{/if}
			#{else}
				<td>${game.homeReferenceName()}</td>
			#{/else}
			#{if game.awayTeam != null}
				#{if game.awayTeam.flag != null}
					<td><img class="flag" src="@{'/public/img/flags'}/${game.awayTeam?.flag}" alt="${game.awayTeam?.name}" />&{game.awayTeam?.name}</td>
				#{/if}
				#{else}
					<td>&{game.awayTeam?.name}</td>
				#{/else}
			#{/if}
			#{else}
				<td>${game.awayReferenceName()}</td>
			#{/else}
			#{if !game.ended}
				<td>- : -</td>
			#{/if}
			#{else}
				#{if game.overtime}
					<td>${game.homeScoreOT} : ${game.awayScoreOT} (&{game.overtimeType})</td>
				#{/if}
				#{else}
					<td>${game.homeScore} : ${game.awayScore}</td>
				#{/else}
			#{/else}
		</tr>
	#{/list}	
	</tbody>
</table>
</div>