#{extends 'main.html' /}
<div class="span">
	<div class="row-fluid">
		<div class="span5">
			<h2>&{'topthree'}</h2>
			<table class="table">
				<thead>
					<tr>
						<th>&{'tipper'}</th>
						<th>&{'nickname'}</th>
						<th>&{'points'}</th>
					</tr>
				</thead>
				<tbody>
				#{list items:topUsers, as:'topUser'}
					<tr>
						#{if topUser.picture == null}
							<td><a href="@{users.show()}/${topUser.nickname}"><img src="@{'/public/img/user_placeholder.gif'}" width="54" height="54" /></a></td>
						#{/if}
						#{else}
							<td><a href="@{users.show()}/${topUser.nickname}"><img src="${topUser.picture}" /></a></td>
						#{/else}
						<td><b><a href="@{users.show()}/${topUser.nickname}">${topUser.nickname}</a></b></td>
						<td><b>${topUser.points}</b></td>
					</tr>
				#{/list}
				<tr>
					<td colspan="5">&{'user.placandpoints.' + (connectedUser.points == 1 ? 'one' : 'many'), connectedUser.points, connectedUser.place, users}</td>
				</tr>
				<tr>
                    <td colspan="5">${pointsDiff}</td>
                </tr>
				</tbody>
			</table>
		</div>
		<div class="span7">
			<h2>&{playday.name}</h2>
			<table class="table table-striped">
            <thead>
                <tr>
                    <th>&{'date'}</th>
                    <th>&{'hometeam'}</th>
                    <th>&{'awayteam'}</th>
                    <th>&{'result'}</th>
                    <th>&{'yourbet'}</th>
                </tr>
            </thead>
            <tbody>
                #{list items:playday?.games, as:'game'}
                    <tr>
                        <td>${game.kickoff.formatted()}</td>
                        <td><img src="@{'/public/img/flags'}/${game.homeTeam?.flag}">&nbsp;&nbsp;&{game.homeTeam?.name}</td>
                        <td><img src="@{'/public/img/flags'}/${game.awayTeam?.flag}">&nbsp;&nbsp;&{game.awayTeam?.name}</td>
                        <td>${game.getScore()}</td>
                        <td>${game.getGameTipAndPoints()}</td>
                    </tr>
                #{/list}
                #{else}
                    <tr>
                        <td colspan="6">&{'nogamesyet'}</td>
                    </tr>
                #{/else}
            </tbody>
        </table>
		</div>
	</div>
</div>