#{extends 'main.html' /}
<div class="row">
	<div class="col-md-12">
		<legend>&{'topthree'}</legend>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>&{'tipper'}</th>
						<th>&{'username'}</th>
						<th>&{'points'}</th>
						<th>&{'extrapoints'}</th>
						<th>&{'totalpoints'}</th>
					</tr>
				</thead>
				<tbody>
				#{list items:topUsers, as:'topUser'}
					<tr>
						#{if topUser.picture == null}
							<td><a href="@{users.show()}/${topUser.username}"><img src="@{'/public/img/user_placeholder.gif'}" width="54" height="54" /></a></td>
						#{/if}
						#{else}
							<td><a href="@{users.show()}/${topUser.username}"><img src="${topUser.picture}" /></a></td>
						#{/else}
						<td><b><a href="@{users.show()}/${topUser.username}">${topUser.username}</a></b></td>
						<td>${topUser.tipPoints}</td>
						<td>${topUser.extraPoints}</td>
						<td><b>${topUser.points}</b></td>
					</tr>
				#{/list}
				<tr><td colspan="5">&{'user.placandpoints.' + (connectedUser.points == 1 ? 'one' : 'many'), connectedUser.points, connectedUser.place, users}</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<legend>&{playday.name}</legend>
		<div class="table-responsive">
			<table class="table table-striped">
		          <thead>
		              <tr>
		              	  <th>#</th>
		                  <th>&{'app.date.time'}</th>
		                  <th>&{'hometeam'}</th>
		                  <th>&{'awayteam'}</th>
		                  <th>&{'result'}</th>
		                  <th>&{'yourbet'}</th>
		              </tr>
		          </thead>
		          <tbody>
		              #{list items:playday?.games, as:'game'}
		                  <tr>
		                      <td>${game.number}</td>
		                      <td>${game.kickoff.formatted()}</td>
		                      <td><img src="@{'/public/img/flags'}/${game.homeTeam?.flag}" class="flag">&{game.homeTeam?.name}</td>
		                      <td><img src="@{'/public/img/flags'}/${game.awayTeam?.flag}" class="flag">&{game.awayTeam?.name}</td>
		                      <td>${game.getScore()}</td>
		                      <td>${game.getGameTipAndPoints()}</td>
		                  </tr>
		              #{/list}
		              #{else}
		                  <tr>
		                      <td colspan="6">&{'nogamesyet'}</td>
		                  </tr>
		              #{/else}
		          </tbody>
		      </table>
	      </div>
	   </div>
</div>