#{extends 'main.html' /}
<div class="span">
	<div class="row-fluid">
		<div class="span5">
			<h2>&{'topthree'}</h2>
			<table class="table">
				<thead>
					<tr>
						<th class="hidden-phone">&{'tipper'}</th>
						<th>&{'nickname'}</th>
						<th class="visible-desktop">&{'points'}</th>
						<th class="visible-desktop">&{'extrapoints'}</th>
						<th>&{'totalpoints'}</th>
					</tr>
				</thead>
				<tbody>
				#{list items:topUsers, as:'topUser'}
					<tr>
						#{if topUser.picture == null}
							<td class="hidden-phone"><a href="@{users.show()}/${topUser.nickname}"><img src="@{'/public/images/user_placeholder.gif'}" width="54" height="54" /></a></td>
						#{/if}
						#{else}
							<td class="hidden-phone"><a href="@{users.show()}/${topUser.nickname}"><img src="${topUser.picture}" /></a></td>
						#{/else}
						<td><b><a href="@{users.show()}/${topUser.nickname}">${topUser.nickname}</a></b></td>
						<td class="visible-desktop">${topUser.tipPoints}</td>
						<td class="visible-desktop">${topUser.extraPoints}</td>
						<td><b>${topUser.points}</b></td>
					</tr>
				#{/list}
				</tbody>
			</table>
		</div>
		<div class="span7">
			<h2>&{'lastgames'}</h2>
			<table class="table">
            <thead>
                <tr>
                    <th class="hidden-phone">&{'date'}</th>
                    <th>&{'hometeam'}</th>
                    <th>&{'awayteam'}</th>
                    <th>&{'result'}</th>
                    <th>&{'yourbet'}</th>
                </tr>
            </thead>
            <tbody>
                #{list items:previousGames, as:'previousGame'}
                    <tr>
                        <td class="hidden-phone">${previousGame.kickoff.formatted()}</td>
                        <td><img class="flag" src="@{'/public/images/flags'}/${previousGame.homeTeam?.flag}">&{previousGame.homeTeam?.name}</td>
                        <td><img class="flag" src="@{'/public/images/flags'}/${previousGame.awayTeam?.flag}">&{previousGame.awayTeam?.name}</td>
                        #{if previousGame.overtime}
                            <td>${previousGame.homeScoreOT} : ${previousGame.awayScoreOT} (&{previousGame.overtimeType})</td>
                        #{/if}
                        #{else}
                            <td>${previousGame.homeScore} : ${previousGame.awayScore}</td>
                        #{/else}
                        <td>${previousGame.getTip()} ${previousGame.getTipPoints()}</td>
                    </tr>
                #{/list}
                #{else}
                    <tr>
                        <td colspan="6">&{'nogamesyet'}</td>
                    </tr>
                #{/else}
            </tbody>
        </table>
		</div>
	</div>
	<div class="row-fluid">
		#{if play.configuration.get("dashboard.twitter.username") != ""}
		<div class="span5 hidden-phone">
				<h2>&{'twitternews'} (@${play.configuration.get("dashboard.twitter.username")})</h2>
				<div class="twitter"><img src="/public/images/ajax-loader.gif" id="ajaxloader"></div>
		</div>
		#{/if}
		<div class="span7">
			<h2>&{'nextgames'}</h2>
			<table class="table">
			<thead>
				<tr>
					<th class="hidden-phone">&{'date'}</th>
					<th>&{'hometeam'}</th>
					<th>&{'awayteam'}</th>
					<th>&{'yourbet'}</th>
					<th class="visible-desktop">&{'tendence'}</th>
				</tr>
			</thead>
				<tbody>
					#{list items:nextGames, as:'nextGame'}
						<tr>
							<td class="hidden-phone">${nextGame.kickoff.formatted()}</td>
							<td><img class="flag" src="@{'/public/images/flags'}/${nextGame.homeTeam?.flag}">&{nextGame.homeTeam?.name}</td>
							<td><img class="flag" src="@{'/public/images/flags'}/${nextGame.awayTeam?.flag}">&{nextGame.awayTeam?.name}</td>
							<td>${nextGame.getTip()}</td>
							<td class="visible-desktop">${nextGame.getTrend()}</td>
						</tr>
					#{/list}
					#{else}
						<tr>
							<td colspan="6">&{'nomoregamesyet'}</td>
						</tr>
					#{/else}
				</tbody>
			</table>
		</div>
	</div>
</div>