#{extends 'main.html' /}
<h3>&{'rules.legend'}</h3>
<div class="table-responsive">
	<table class="table">
		<tbody>
			<tr>
				<td><b>&{'setup.pointsbet'}</b></td>
				<td>${settings.pointsTip}</td>
			</tr>
			<tr>
				<td><b>&{'setup.pointsbetdiff'}</b></td>
				<td>${settings.pointsTipDiff}</td>
			</tr>
			<tr>
				<td><b>&{'setup.pointsbettrend'}</b></td>
				<td>${settings.pointsTipTrend}</td>
			</tr>
			<tr>
				<td><b>&{'rules.bet.minutes'}</b></td>
				<td>&{'rules.bet.minutes.value', settings.minutesBeforeTip}</td>
			</tr>
			<tr>
				<td><b>&{'rules.points.playoffs'}</b></td>
				#{if settings.countFinalResult}
					<td>&{'setup.finalresult'}</td>
				#{/if}
				#{else}
					<td>&{'setup.ninetyminutes'}
						<ul>
	                        <li>&{'rules.nintyminutesinfo'}</li>
	                    </ul>
					</td>
				#{/else}
			</tr>
	        <tr>
	            <td><b>&{'rules.points.standings.header'}</b></td>
	            <td>
	                &{'rules.points.standings'}
	                <ol>
	                    <li>&{'rules.points.standings.1'}</li>
	                    <li>&{'rules.points.standings.2'}</li>
	                    <li>&{'rules.points.standings.3'}</li>
	                    <li>&{'rules.points.standings.4'}</li>
	                    <li>&{'rules.points.standings.5'}</li>
	                </ol>
	                &{'rules.points.standings.same'}
	            </td>
	        </tr>		
			<tr>
				<td><b>&{'rules.global'}</b></td>
				<td>
					<ul>
						<li>&{'rules.global.1'}</li>
						<li>&{'rules.global.2'}</li>
						<li>&{'rules.global.3'}</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</div>