<!DOCTYPE html>
<html>
  <head>
    <title>Rudeltippen</title>
    <meta charset="UTF-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
 	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
 	<meta name="viewport" content="initial-scale=1.0,user-scalable=yes,maximum-scale=1" media="(device-height: 568px)" />
    <meta name="description" content="Rudeltippen">
    <meta name="author" content="Sven Kubiak">
    <link href="@{'/public/img/apple-touch-icon-152x152.png'}" rel="shortcut icon">
	<link href="@{'/public/img/apple-touch-icon-76x76.png'}" rel="apple-touch-icon">
	<link href="@{'/public/img/apple-touch-icon-76x76.png'}" rel="apple-touch-icon" sizes="76x76">
	<link href="@{'/public/img/apple-touch-icon-120x120.png'}" rel="apple-touch-icon" sizes="120x120">
	<link href="@{'/public/img/apple-touch-icon-152x152.png'}" rel="apple-touch-icon" sizes="152x152">    
    <link href="@{'/public/stylesheets/combined.min.css'}" rel="stylesheet">
   	#{if request.action == "Admin.tournament" || request.action == "Admin.results"}
	<link href="@{'/public/stylesheets/overlay.min.css'}" rel="stylesheet">
	<link href="@{'/public/stylesheets/bootstrap-datetimepicker.min.css'}" rel="stylesheet">
	<link href="@{'/public/stylesheets/bootstrap-editable.min.css'}" rel="stylesheet">
	#{/if}
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a class="navbar-brand" href="/">Rudeltippen</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li #{if request.action == "Application.index" } class="active" #{/if}><a href="@{application.index()}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a></li>
            <li #{if request.action == "Tournament.brackets" || request.action == "Tournament.playday" } class="active dropdown" #{/if} #{else} class="dropdown" #{/else}>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-tower"></span>&nbsp;&nbsp;&{'app.tournament'} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="@{tournament.brackets()}">&{'app.tables'}</a></li>
                <li><a href="@{tournament.playday()}/${currentPlayday.number}">&{'app.results'}</a></li>
              </ul>
            </li>
            <li #{if request.action == "Overview.playday" || request.action == "Overview.extras" || request.action == "Tips.standings" || request.action == "Application.statistics" || request.action == "Application.rules"} class="active dropdown" #{/if} #{else} class="dropdown" #{/else}>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;&{'app.betting.game'} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="@{overview.playday()}/${currentPlayday.number}">&{'app.tipoverview'}</a></li>
                  <li><a href="@{overview.extras()}">&{'extratips'}</a></li>
                  <li><a href="@{tips.standings()}">&{'standings'}</a></li>
                  <li><a href="@{application.statistics()}">&{'statistics'}</a></li>
            	  <li><a href="@{application.rules()}">&{'rules'}</a></li>                  
                </ul>
            </li>  
            <li #{if request.action == "Tips.playday" } class="active" #{/if}><a href="@{tips.playday()}/${currentPlayday.number}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;&{'app.place.tipps'}</a></li> 
            <li #{if request.action == "Users.profile" } class="active" #{/if}><a href="@{users.profile()}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&{'app.myprofile'}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
	        #{if connectedUser.admin}
            <li class="dropdown">
	            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&{'app.administration'} <span class="caret"></span></a>
	            <ul class="dropdown-menu">
              		<li><a href="@{admin.settings()}">&{'settings'}</a></li>
              		<li><a href="@{admin.users()}">&{'usermanagement'}</a></li>
              		<li><a href="@{admin.tournament()}">&{'app.tournament.management'}</a></li>
              		<li><a href="@{admin.results()}/${currentPlayday.number}">&{'results'}</a></li>
                    <li><a href="@{admin.rudelmail()}">&{'rudelmail'}</a></li>	              		
              		<li><a href="@{admin.jobs()}">&{'jobs'}</a></li>
	            </ul>
            </li>
           	#{/if}
            <li><a href="@{auth.logout()}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;&{'app.logout'}</a></li>
          	</ul>
        </div>
      </div>
    </div>
	#{ifErrors}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-danger">
	                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	                <span class="glyphicon glyphicon-hand-right"></span> <strong>&{'app.error'}</strong>
	                <hr class="message-inner-separator">
					#{if flash.errormessage != null}
			    		<p>${flash.errormessage.raw()}</p>
					#{/if}
					#{else}
			    		<p>&{'erroroccured'}</p>
					#{/else}
	            </div>
	    	</div>
		</div>
	</div>
	#{/ifErrors}
	#{if flash.warningmessage != null}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	            <div class="alert alert-warning">
	                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	                <span class="glyphicon glyphicon-record"></span> <strong>&{'app.warning'}</strong>
	                <hr class="message-inner-separator">
					<p>${flash.warningmessage.raw()}</p>
	            </div>
	        </div>		
		</div>
	</div>
	#{/if}
	#{if flash.infomessage != null}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	            <div class="alert alert-success">
	                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	               <span class="glyphicon glyphicon-ok"></span> <strong>&{'app.success'}</strong>
	                <hr class="message-inner-separator">
	                <p>${flash.infomessage.raw()}</p>
	            </div>
	        </div>
		</div>
	</div>
	#{/if}    
	<div class="container">
		#{doLayout /}
    </div>
    <div class="container">
    	<div class="row">
    		<hr class="colorgraph"> 
    		<div class="modal fade" id="credits">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="modalLabel">Credits</h4>
			      </div>
				      <div class="modal-body">
						<p>Rudeltippen is based on some great Open Source Software:</p>
						<p>Thanks to <a href="http://iam.guillaume.bort.fr/" target="_blank">Guillaume Bort</a>, the Play Developers and <a href="http://zenexity.com/" target="_blank">Zenexity</a> for bringing the <a href="http://www.playframework.org/" target="_blank">Play! Framework</a> to the Java-World. Thanks to <a href="https://twitter.com" target="_blank">Twitter</a> for this handy UI-Framework called <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>. Thanks to <a href="http://thomaspark.me/" target="_blank">Thomas Park</a> for the Bootstrap Themes at <a href="http://bootswatch.com/" target="_blank">Bootswatch</a>. Thanks to Marcel Siegel for <a href="http://www.openligadb.de/">OpenLigaDB</a>. And last but not least, thanks to <a href="http://kampongboy92.deviantart.com/" target="_blank">kampongboy92</a> who made some great looking flags.</p>
						<hr>
						<p>Rudeltippen &copy; 2012-2014 <a href="http://www.svenkubiak.de" target="_blank">Sven Kubiak</a></p>
						<p>Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at</p>
						<p><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></p>
						<p>Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.</p>
				      </div>
			    </div>
			  </div>
			</div>
		</div>
    	<p><a href="https://github.com/svenkubiak/rudeltippen" target="_blank">Rudeltippen 2.2.2</a> | <a href="#" class="credits-modal hidden-xs">Credits</a> <span class="hidden-xs">|</span> <a href="https://flattr.com/thing/1628177/Rudeltippen" target="_blank">Flattr</a></p>
    </div>
	<script src="@{'/public/javascripts/combined.min.js'}" type="text/javascript"></script>
	#{if request.action == "Admin.tournament" || request.action == "Admin.results"}
	<script src="@{'/public/javascripts/blockUI.min.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/overlay.min.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/bootstrap-datetimepicker.min.js'}" type="text/javascript"></script>
	<script src="@{'/public/javascripts/bootstrap-editable.min.js'}" type="text/javascript"></script>
	#{/if}
    #{if request.action == "Users.show"}
    <script src="@{'/public/javascripts/canvasjs.min.js'}" type="text/javascript"></script>
    #{/if}
    <script src="@{'/public/javascripts/main.additional.min.js'}" type="text/javascript"></script>
  </body>
</html>