<h3>&{playday.name}</h3>
#{form @tips.storetips(), class:'form-horizontal well'}
	<table class="table">
		<thead>
			<tr>
				<th class="visible-desktop">&{'game'}</th>
				<th class="visible-desktop">&{'date'} - &{'time'}</th>
				<th class="visible-desktop">&{'betending'}</th>
				<th>&{'hometeam'}</th>
				<th>&{'awayteam'}</th>
				<th class="hidden-phone">&{'result'}</div></th>
				<th colspan="3"><div align="center">&{'yourbet'}</div></th>
				<th class="hidden-phone">&{'points'}</div></th>
			</tr>
		</thead>
		<tbody>
			#{list items:playday.games, as:'game'}
				<tr>
					<td class="visible-desktop">${game.number}</td>
					<td class="visible-desktop">${game.kickoff.formatted()}</td>
					<td class="visible-desktop">${game.tippEnding.difference()}</td>
					#{if game.homeTeam?.name != null && game.awayTeam?.name != null}
						<td><img class="hidden-phone" src="/public/images/flags/${game.homeTeam?.flag}">&nbsp;&nbsp;&{game.homeTeam?.name}</td>
						<td><img class="hidden-phone" src="/public/images/flags/${game.awayTeam?.flag}">&nbsp;&nbsp;&{game.awayTeam?.name}</td>
					#{/if}
					#{else}
						<td>&nbsp;&nbsp;${game.homeReferenceName()}</td>
						<td>&nbsp;&nbsp;${game.awayReferenceName()}</td>
					#{/else}
					<td class="hidden-phone">${game.getResult()}</td>
					#{if game.tippable}
						<td style="text-align: right;"><input type="text" value="${game.getHomeScoreTip()}" id="game_homeScore_${game_index}" name="game_${game.id}_homeScore" class="input-mini"></td>
						<td>:</td>
						<td style="text-align: left;"><input type="text" value="${game.getAwayScoreTip()}" id="game_awayScore_${game_index}" name="game_${game.id}_awayScore" class="input-mini"></td>
					#{/if}
					#{else}
						<td style="text-align: center;" colspan="3">${game.getTip()}</td>
					#{/else}
					<td class="hidden-phone">${game.getPoints()}</td>
				</tr>
			#{/list}
		</tbody>
	</table>
	<button class="btn btn-primary" data-loading-text="&{'save'}..." id="fat-btn" type="submit" data-toggle="button">&{'save'}</button>
#{/form}
#{include '/tags/javascript.html' /}