#{extends 'main.html' /}
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li id="nav-first"><a href="javascript:load(0,'@{tips.extra()}');"><i class="icon-th-list"></i>  &{'extratips'}</a></li>
			<li class="nav-header">&{'playdays'}</li>
			#{list items:playdays, as:'aPlayday'}
				<li id="nav-${aPlayday.number}" #{if aPlayday.number == number} class="active" #{/if}><a href="javascript:load('${aPlayday.number}','@{tips.games()}/${aPlayday.number}');">&{aPlayday.name}</a></li>
			#{/list}
		</ul>
	</div>
</div>
<div class="span9">
	#{include '/Tips/_games.html' /}
</div>