#{extends 'main.html' /}
<div class="row">
	<div class="col-md-12">
		<legend>&{playday.name}</legend>
	</div>
</div>
<div class="row" style="text-align:right; padding-right: 5px;">
	<div class="col-md-12">
		#{include '/Tags/playdayPagination.html' /}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
		#{form @tips.storetips(), role:'form'}
		    <table class="table table-striped">
		        <thead>
		            <tr>
		                <th>&{'date'} - &{'time'}</th>
		                <th>&{'betending'}</th>
		                <th>&{'hometeam'}</th>
		                <th>&{'awayteam'}</th>
		                <th>&{'result'}</div></th>
		                <th colspan="3"><div align="center">&{'yourbet'}</div></th>
		            </tr>
		        </thead>
		        <tbody>
		            #{list items:playday?.games, as:'game'}
		                <tr>
		                    <td>${game.kickoff.formatted()}</td>
		                    <td>${game.tippEnding.difference()}</td>
		                    #{if game.homeTeam?.name != null && game.awayTeam?.name != null}
		                        <td><img class="flag" src="@{'/public/img/flags'}/${game.homeTeam?.flag}">&{game.homeTeam?.name}</td>
		                        <td><img class="flag" src="@{'/public/img/flags'}/${game.awayTeam?.flag}">&{game.awayTeam?.name}</td>
		                    #{/if}
		                    #{else}
		                        <td>${game.homeReferenceName()}</td>
		                        <td>${game.awayReferenceName()}</td>
		                    #{/else}
		                    <td align="center">${game.getResult()}</td>
		                    #{if game.tippable}
		                        <td align="right"><input type="text" value="${game.getHomeScoreTip()}" id="game_homeScore_${game_index}" name="game_${game.id}_homeScore" maxlength="2" class="form-control input-small"></td>
		                        <td align="center">:</td>
		                        <td align="left"><input type="text" value="${game.getAwayScoreTip()}" id="game_awayScore_${game_index}" name="game_${game.id}_awayScore" maxlength="2" class="form-control input-small"></td>
		                    #{/if}
		                    #{else}
		                        <td align="center" colspan="3">${game.getGameTipAndPoints()}</td>
		                    #{/else}
		                </tr>
		            #{/list}
		        </tbody>
		    </table>
	    </div>
	   	#{if playday?.isTippable()}
	   		<div style="text-align:right; padding-right: 5px;">
	        	<input type="submit" data-loading-text="&{'save'}..." class="btn btn-success" value="&{'save'}" />
	        </div>
	    #{/if}
	    #{/form}
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<legend>&{'extratips'}</legend>
	</div>
</div>
<div class="row" style="text-align:right; padding-right: 5px;">
	<div class="col-md-12">
		<a data-toggle="collapse" id="collapseExtra" data-parent="#accordion" href="#extratips">&{'app.show'}</a>
	</div>
</div>
<div id="extratips" class="row panel-collapse collapse">
	<div class="col-md-12">
		#{form @tips.storeextratips(), role:'form'}
		<div class="table-responsive">
			<table class="table table-striped">
			    <thead>
			        <tr>
			            <th>&{'extraquestion'}</th>
			            <th>&{'points'}</th>
			            <th>&{'betending'}</th>
			            <th>&{'youranswer'}</th>
			        </tr>
			    </thead>
			    <tbody>
			        #{list items:extras, as:'extra'}
			            <tr>
			                <td>&{extra.question}</td>
			                <td>${extra.points}</td>
			                <td>${extra.ending.difference()}</td>
			                <td>
			                    #{if extra.tipable}
			                        <select id="bonustipp_${extra_index}" name="bonus_${extra.id}_teamId" class="form-control">
			                            #{if extra.getExtraTip() == 0}
			                                <option value="0" selected="selected">-- &{'pleasechoose'} --</option>
			                            #{/if}
			                            #{list items:extra.answers, as:'team'}
			                                #{if extra.getExtraTip() == team.id}
			                                    <option value="${team.id}" selected="selected">&{team.name}</option>
			                                #{/if}
			                                #{else}
			                                    <option value="${team.id}">&{team.name}</option>
			                                #{/else}
			                            #{/list}
			                        </select>
			                    #{/if}
			                    #{else}
			                        ${extra.getAnswer().raw()}
			                    #{/else}
			                </td>
			            </tr>
			        #{/list}
			    </tbody>
			</table>
		</div>
		#{if tippable}
	   		<div style="text-align:right; padding-right: 5px;">
	        	<input type="submit" data-loading-text="&{'save'}..." class="btn btn-success" value="&{'save'}">
	        </div>
		#{/if}
		#{/form}
	</div>
</div>