#{extends 'main.html' /}
<table class="table">
	<thead>
		<tr>
			<th>&{'place'}</th>
			<th class="hidden-phone">&{'tipper'}</th>
			<th>&{'username'}</th>
			<th class="hidden-phone">&{'points'}</th>
			<th class="hidden-phone">&{'extrapoints'}</th>
			<th>&{'totalpoints'}</th>
		</tr>
	</thead>
	<tbody>
		#{list items:users, as:'user'}
			<tr #{if user == connectedUser} class="connecteduser" #{/if}>
				<td>${user_index} ${user.getPlaceTrend().raw()}</td>
				#{if user.picture != null}
					<td class="hidden-phone"><a href="@{users.show()}/${user.username}"><img src="${user.picture}" /></a></td>
				#{/if}
				#{else}
					<td class="hidden-phone"><a href="@{users.show()}/${user.username}"><img src="@{'/public/img/user_placeholder.gif'}" width="54" height="54" /></a></td>
				#{/else}
				<td><b><a href="@{users.show()}/${user.username}">${user.username}</a></b></td>
				<td class="hidden-phone">${user.tipPoints}</td>
				<td class="hidden-phone">${user.extraPoints}</td>
				<td><b>${user.points}</b></td>
			</tr>
		 #{/list}
	</tbody>
</table>